<!-- Navbar Bottom -->
<div class="nav-container">
<nav class="navbar fixed-bottom rounded-top-4 navbar-custom" id="navbar-menus">
    <ul class="navbar-nav navbar-nav-custom">
        <li class="nav-item">
            <a class="nav-link" href="#home">
                <i class="bi-house-door-fill"></i>
                <span class="d-block">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#FAQs">
                <i class="bi-patch-question-fill"></i>
                <span class="d-block">FAQs</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Photos">
                <i class="bi-camera-fill"></i>
                <span class="d-block">Photos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Guest Book">
                <i class="bi-book-fill"></i>
                <span class="d-block">Guest Book</span>
            </a>
        </li>
    </ul>
</nav>
</div>