---
layout: base.njk
---

<h1 class="main-title">Dylan &amp; Annie 2024</h1>
    {% include "components/imagepac.njk" %}
<div class="block">
    {% include "content/main_page/main_page_greeting.md" %}
</div>
<div class="block">
    {% include "components/map.njk" %}
</div>
<div class="block">
    {% include "content/main_page/main_page_closing.md" %}
</div>
