---
layout: base.njk
---

<div class="d-flex flex-column align-items-center page-container">
    <h1 class="main-title">Dylan &amp; Annie 2024</h1>
    {% include "components/imagepac.njk" %}
    {% include "content/main_page/main_page_greeting.md" %}
    {% include "components/map.njk" %}
    {% include "content/main_page/main_page_closing.md" %}
</div>